* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  margin: auto;
}

.row {
  width: 800px;
  height: 100px;
}

.b {
  width: 100px;
  height: 100px;
  background-color: black;
}

.w {
  width: 100px;
  height: 100px;
  background-color: white;
}